<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384238355491-cc9lst5qg2p8la50plmo73r2hl02sn9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384238355491-cc9lst5qg2p8la50plmo73r2hl02sn9f</string>
	<key>API_KEY</key>
	<string>AIzaSyBQTXat5w5AG6le7dcyZQz5dabN5GDOONw</string>
	<key>GCM_SENDER_ID</key>
	<string>384238355491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isalfo.Fakestagram</string>
	<key>PROJECT_ID</key>
	<string>fakestagram-6ee2d</string>
	<key>STORAGE_BUCKET</key>
	<string>fakestagram-6ee2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384238355491:ios:72a7650e12a4dbaa769d96</string>
</dict>
</plist>